@import '../../styles/fonts.scss';
@import '../../styles/variables.scss';
@import '../../styles/wallpapers.scss';

.card {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    padding: 1em;
    width: 30em;
    height: 27em;
    border-radius: 1em;
    font-size: 0.9em;
    background-color: $background-container-color;
    
    // &:hover {
        // background-color: $white;
    // }
    
    .info_container {
        img {
            height: 15em;
            width: 15em;
            border-radius: 50%;
        }
    }

    .teams_container {
        h4 {
            color: $aux-color-4;
        }
    }
}


