@import '../../styles/fonts.scss';
@import '../../styles/variables.scss';
@import '../../styles/wallpapers.scss';

.home_container {
  display: flex;
  flex-flow: column wrap;
  min-height: 96.7vh;
  align-items: center;
  justify-content: center;
  background-image: $background-image-homepage;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 0em 5em;

  h1 {
    border-radius: 0.5em;
    color: $aux-color-2;
    background-color: $background-container-color;
  }

  .f_s_wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5em;

    @include sm {
      gap: 0.1em;
    }

    h4{
      color:$black;
      background-color: $background-container-color2;
      border-radius: 0.5em;
      padding: 0.3em;

      @include lg {
          font-size: 1.3em;
      }

      @include md {
          font-size: 0.9em;
      }

      @include sm {
          font-size: 0.8em;
      }
  }
    
    label {
      font-weight: light;
      font-size: 1.4em;
      font-weight: bold;
      background-color: $background-container-color;
      border-radius: 0.3em;
      color: $aux-color-1;
      margin: 0.5em;
      padding: 0.4em;

      @include lg {
        font-size: 1.3em;
       }

        @include md {
            font-size: 1em;
        }

        @include sm {
            font-size: 0.8em;
        }
    }

    select {
      font-family: inherit;
      font-size: 1em;
      text-align: center;
      margin: 0.5em 0.5em 0.5em 0.8em;
      padding: 0.3em;
      width: 11em;

      cursor: pointer;
      
      &:hover {
        color: $aux-color-2;
      }

      @include lg {
        font-size: 0.9em;
       }

        @include md {
            font-size: 0.85em;
        }

        @include sm {
            font-size: 0.8em;
        }
        


      option {
        font-size: 0.8em;

        @include lg {
          font-size: 0.75em;
        }

        @include md {
          font-size: 0.7em;
        }

        @include sm {
          font-size: 0.6em;
        }
      }
    }
  }

  .pagination_container {
    span {
      color: $white;
      font-size: 1.45em;
      font-weight: bold;
      margin: 0.3em;

      cursor: pointer;

      &:hover {
        color: $hover-color2;
        font-size: 1.5em;
      }

      &:active {
        color: $button-text-color;
      }

      @include lg {
        font-size: 1.3em;
        &:hover {
          font-size: 1.35em;
        }
      }

      @include md {
        font-size: 1em;
        &:hover {
          font-size: 1.05em;
        }
      }

      @include sm {
        font-size: 1em;
        margin: 0.2em;
        &:hover {
          font-size: 1.05em;
        }
      }
    }
  }

  .nav_buttons {
    margin: 0.3em;
    padding: 0.3em;

    button {
      background-color: $background-container-color;
      border-color: $button-border-color;

      &:hover {
        color: $hover-color1;
        border-color: $hover-color1;
      }
    }
  }
}