@import '../../styles/fonts.scss';
@import '../../styles/variables.scss';

.searchbar_container {
    display: flex;
    align-items: center;
    padding-left: 0.6em;
    padding-right: 0.2em;
    
    input {
        height: 1.3em;
        width: 13em;
        border: none;
        border-radius: 0.5em;
        background-color: $white;
        font-family: inherit;
        font-weight: bold;
        text-align: start;
        padding-left: 1em;
        color: $black;

        @include lg {
            width: 16em;
            height: 2em;
        }
    }

    .search_button {
        border: none;
        margin: 0em;
        background-color: inherit;
        padding: 0em;

        @include lg {
            font-size: 1.5em;
        }
    }
}