@import '../../styles/fonts.scss';
@import '../../styles/variables.scss';
@import '../../styles/wallpapers.scss';

.about_container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background-image: $background-image-about;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: $black;
    font-weight: bolder;
    font-size: 1.8em;

    h2 {
        font-weight: bolder;

        @include lg {
            font-size: 1.5em;
        }

        @include md {
            font-size: 0.9em;
        }

        @include sm {
            font-size: 0.8em;
        }
    }

    h3 {
        color: $aux-color-1;
        background-color: $background-container-color;
        border-radius: 1em;

        @include lg {
            font-size: 1.5em;
        }

        @include md {
            font-size: 0.9em;
        }

        @include sm {
            font-size: 0.8em;
        }
    }

    h4{
        color: $aux-color-1;
        background-color: $background-container-color;
        border-radius: 1em;
        padding: 0.3em;

        @include lg {
            font-size: 1.3em;
        }

        @include md {
            font-size: 0.9em;
        }

        @include sm {
            font-size: 0.8em;
        }
    }

    h5 {
        font-weight: bolder;
        font-size: 1.3em;
        text-align: center;
        margin: 0.3em;
        padding: 0.2em;
        color: $black;

        @include lg {
            font-size: 1.1em;
        }

        @include md {
        font-size: 0.9em;
        }

        @include sm {
        font-size: 0.8em;
        }
    }

    #profilePic {
        align-items: center;
        justify-content: center;
        height: 15em;
        width: 15em;
        border-radius: 50%;
        margin: 0.2em;
        padding: 0.1em;

        @include md {
            height: 12em;
            width: 12em;
        }
        @include sm {
            height: 10em;
            width: 10em;
        }
    }

    div {
        display: flex;
        flex-flow: row wrap;
        gap: 1em;
        height: fit-content;
        padding: 0.5em;
        margin: 0.5em;
        justify-content: space-evenly;
        align-items: center;
        background-color: $background-container-color2;
        border-radius: 1em;
        
        .myLinks_1 {
            height: 3em;
            width: 10em;
            border-radius: 0.5em;

            &:hover {
                background-color: $aux-color-6;
            }

            &:active {
                background-color: $aux-color-3;
            }

            @include lg {
                height: 2.5em;
                width: 9.5em;
            }

            @include md {
                height: 2em;
                width: 9em;
            }

            @include sm {
                height: 1.75em;
                width: 8em;
            }
        }

        .myLinks_2 {
            height: 4.5em;
            width: 4.5em;
            border-radius: 0.5em;

            &:hover {
                background-color: $aux-color-6;
            }

            &:active {
                background-color: $aux-color-3;
            }

            @include lg {
                height: 4em;
                width: 4em;
            }

            @include md {
                height: 3em;
                width: 3em;
            }

            @include sm {
                height: 2em;
                width: 2em;
            }
        }

        #logo_1 {
            height: 2.3em;
            width: 2.5em;

            @include lg {
                height: 2.27em;
                width: 2.2em;
            }
            
            @include md {
                height: 1.87em;
                width: 1.9em;
            }

            @include sm {
                height: 1.87em;
                width: 1.9em;
            }
        }

        #logo_2 {
            height: 2.3em;
            width: 2.5em;

            @include lg {
                height: 2.27em;
                width: 2.2em;
            }
            
            @include md {
                height: 1.87em;
                width: 1.9em;
            }

            @include sm {
                height: 1.87em;
                width: 1.9em;
            }
        }

        #logo_3 {
            height: 2.3em;
            width: 2.2em;

            @include lg {
                height: 2.27em;
                width: 1.9em;
            }

            @include md {
                height:1.87em;
                width:1.5em;
            }

            @include sm {
                height:1.87em;
                width:1.5em;
            }
        }

        #logo_4 {
            height: 2.3em;
            width: 3.2em;

            @include lg {
                height: 2.27em;
                width: 2.9em;
            }

            @include md {
                height: 1.87em;
                width: 2.5em;
            }

            @include sm {
                height: 1.87em;
                width: 2.5em;
            }
        }

        #logo_5 {
            height: 2.3em;
            width: 2.6em;
            
            @include lg {
                height: 2.27em;
                width: 2.3em;
            }

            @include md {
                height: 1.87em;
                width: 1.9em;
            }

            @include sm {
                height: 1.87em;
                width: 1.9em;
            }
        }

        #logo_6 {
            height: 1.8em;
            width: 5.9em;

            @include lg {
                height: 1.7em;
                width: 5.6em;
            }

            @include md {
                height: 1.4em;;
                width: 5.2em;
            }

            @include sm {
                height: 1.4em;;
                width: 5em;
            }
        }

        #logo_7 {
            height: 2.3em;
            width: 4.2em;
            
            @include lg {
                height: 2.27em;
                width: 3.9em;
            }

            @include md {
                height: 1.87em;
                width: 3.5em;
            }

            @include sm {
                height: 1.87em;
                width: 3.5em;
            }
        }

        #logo_8{
            height: 1.75em;
            width: 5.45em;

            @include lg {
                height: 1.5em;
                width: 5.15em;
            }

            @include md {
                height: 1.3em;
                width: 4.5em;
            }

            @include sm {
                height: 1em;
                width: 3.8em;
            }
        }

        #logo_9 {
            height: 2em;
            width: 6em;

            @include lg {
                height: 1.8em;
                width: 5.7em;
            }

            @include md {
                height: 1.5em;
                width: 4.75em;
            }

            @include sm {
                height: 1.5em;
                width: 4.75em;
            }
        }

        #logo_10 {
            height: 2.75em;
            width: 6em;

            @include lg {
                height: 2.5em;
                width: 5.5em;
            }

            @include md {
                height: 2.15em;
                width: 4.3em;    
            }

            @include sm {
                height: 2.10em;
                width: 4em;    
            }
        }
    }

    p {
        font-size: 1.2em;
        margin:auto;
        padding: 1em;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: $aux-color-1;
        background-color: $background-container-color;
        border-radius: 1em;

        @include lg {
            font-size: 1.1em;
        }

        @include md {
            font-size: 0.95em;;
        }

        @include sm {
            font-size: 0.8em;
        }
    }
    
}