@import '../../styles/fonts.scss';
@import '../../styles/variables.scss';

.navbar_container {
    background-color: $black;
    margin:0;
    max-height: fit-content;
    max-width: 100%;
    padding: 0em 0.3em;
    position: fixed top;
    display: flex;
    flex-direction: row;
    gap: 0.25em;
    justify-content: space-between;
    align-items: center;

    @include sm {
        flex-flow: column wrap;
        padding: 0em 0.1em 0.5em 0.1em;
    }

    #button1 {
        color: $aux-color-1;
        margin: 0.5em;
        padding: 0.5em;
        
        &:hover {
            border-color: $hover-color1;
            color: $hover-color1;
        }
    }
    
    #button2 {
        color: $aux-color-2;
        margin: 0.5em;
        padding: 0.5em;
        
        &:hover {
            border-color: $hover-color1;
            color: $hover-color1;
        }
    }
    
    #button3 {
        color: $aux-color-3;
        margin: 0.5em;
        padding: 0.5em;
        
        &:hover {
            border-color: $hover-color1;
            color: $hover-color1;
        }
    }

    .logo {
        flex:1;
        display: flex;
        justify-content: center;
    }

    .secondSection {
        flex: 3;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;

        @include md {
            // max-height: 200px;
            button {
                font-size: 0.95em
            }
        }
        @include sm {
            width: 100%;
            button {
                font-size: 0.85em;
            }
        }
    }
}