//Google fonts
@import url(https://fonts.googleapis.com/css2?family=Bruno+Ace&family=K2D:ital,wght@1,400;1,600&family=Philosopher:ital,wght@1,400;1,700);

//Font variables
$bruno-ace: 'Bruno-Ace', sans-serif;
$k2d: 'K2D', sans-serif;
$philospher: 'Philosopher', sans-serif;