//Min widths for:
//Smartphones, iPhone, portrait 480x320 phones
$screen-sm: 18em; //320px

//Portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones
$screen-md: 40em; //641px

//Big landscape tablets, laptops, and desktops
$screen-lg: 64em; //1025px

//Hi-res laptops and desktops
$screen-x_lg: 80em; //1281px


//Mixin for small devices:
@mixin sm {
    @media only screen and (min-width: $screen-sm) and (max-width: $screen-md) {
        @content;
    }
}

//Mixin for tablets:
@mixin md {
    @media only screen and (min-width: $screen-md) and (max-width: $screen-lg) {
        @content;
    }
}

//Mixin for patops and desktops
@mixin lg {
    @media only screen and (min-width: $screen-lg) and (max-width: $screen-x_lg) {
        @content;
    }
}

//Mixin for hi-res devices:
@mixin x_lg {
    @media only screen and (min-width: $screen-x_lg) {
        @content;
    }
}

//Mixin for flex displays
@mixin flex($direction, $wrap, $justify, $align, $space: 0) {
    display: flex;
    flex-flow: $direction $wrap;
    justify-content: $justify;
    align-items: $align;
    gap: $space;
}