//Color palette:
$aux-color-1: #f8f392;
$aux-color-2: #fedb15;
$aux-color-3: #f53c0e;
$aux-color-4: #484fcce0;
$aux-color-5: #454545ca;
$aux-color-6: #ef9e1baf;

//Buttons' colors
$button-text-color: #1598fd;
$button-border-color: #1598fddd;
$hover-color1: #3ff245;
$hover-color2: #3274ae;


//Container's background
$background-container-color: #242424e6;
$background-container-color2: #ffffffc1;

//Auxiliar colors
$white: #ffffff;
$black: #000000;