//Color palette:
$primary-color: #f0a22e;
$secondary-color: #0b2572e7;

//Aux-colors
$aux-color-1: #f8f392;
$aux-color-2: #fedb15;
$aux-color-3: #f53c0e;
$aux-color-4: #484fcce0;
$aux-color-5: #454545ca;
$aux-color-6: #e98119e9;

//Buttons' colors
$button-text-color: #1598fd;
$button-border-color: #1598fddd;
$hover-color1: #3ff245;
$hover-color2: #3274ae;


//Container's background
$background-container-color: #242424e6;
$background-container-color2: #ffffffc1;

//Auxiliar colors
$white: #ffffff;
$black: #000000;




// .color1 { #cf933a };
// .color2 { #9cc4e8 };
// .color3 { #04233b };
// .color4 { #6a9fad };
// .color5 { #b8cec7 };

// .color1 { #d32735 };
// .color2 { #e8686b };
// .color3 { #821d24 };
// .color4 { #6979a8 };
// .color5 { #c9b2af };

// .color1 { #de1321 };
// .color2 { #b7d0e7 };
// .color3 { #851424 };
// .color4 { #5474a3 };
// .color5 { #d2d1af };

// .color1 { #e85f26 };
// .color2 { #f7d251 };
// .color3 { #4d1a10 };
// .color4 { #bb717b };
// .color5 { #b692a2 };

// .color1 { #d6191c };
// .color2 { #dab3ac };
// .color3 { #553d08 };
// .color4 { #5979b5 };
// .color5 { #8ba7c8 };

// .color1 { #bb7413 };
// .color2 { #fcc054 };
// .color3 { #134974 };
// .color4 { #748599 };
// .color5 { #b8c5d4 };