//Background images

$background-image-landingpage: url("https://i.imgur.com/tv8HNAa.jpg");

$background-image-homepage: url("https://i.imgur.com/rf5lbXk.png");

$background-image-card: url("https://i.imgur.com/HECgwmj.jpg");

$background-image-form: url("https://i.imgur.com/UZE4YFF.jpg");

$background-image-about: url("https://i.imgur.com/SegnDWt.png")
